//The style page (scss).

//Variables for the style page.

$form_color: white;

// The code. 

.navbar-nav {
    margin-left: 60vw;
}

.navbar-nav button {
    margin-right:5vw;
    border-radius: 3vw;
}

form #sku {
    margin-left: 3vw;
}

form #name {
    margin-left: 2vw;
}

form #price {
    margin-left: 1vw;
}


form {
    margin-top: 2vw;
    margin-left: 2vw;
}


.dropdown {
    margin-left: 10vw;
    margin-top: -3vw;
    
}





#dvd1{
    margin-left:0vw;
    margin-top: 3vw;

    
    
}


.dsn {
    margin-left: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-style: solid;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 35px;
    padding-bottom: 12px;
    position:relative;
    background-color: $form_color;
    

}



.delete-checkbox {
    position:absolute;
    right:77%;
    width:18px;
    height:18px;
    top:10%;
    
}



div.forAll {
    display:none;
}




#dvd1 input, #books1 input, #furn1 input{margin-left: 3vw;
}


#dvddesc{font-size:1vw; 
margin-left:9vw;
margin-top:1vw;
width: 20vw
}



#bookdesc{font-size:1vw; 
margin-left:9vw;
margin-top:1vw;
width: 18vw
}


#width{margin-left: 3.5vw
}



#furndesc{font-size:1vw;
margin-left:9vw;
margin-top:1vw;
width: 16vw
}


